<script src="/assets/js/at2.3.js"></script>
<script>

  /*
      document.addEventListener(adobe.target.event.REQUEST_SUCCEEDED, function(e) {
        console.log("Request succeeded", e.detail);
      });
      */
      var arrayToken = [];
document.addEventListener(adobe.target.event.REQUEST_SUCCEEDED, function(e) {
  console.log("AT Request succeeded", e.detail);
  var tokens=e.detail.responseTokens;
  for (var key in tokens) {
    if (tokens.hasOwnProperty(key)) {
        var tokenItem = tokens[key]["activity.id"] + ":" + tokens[key]["experience.id"];
        arrayToken.push(tokenItem);
    }
  }
  console.log('Event', event);
});

document.addEventListener(adobe.target.event.REQUEST_SUCCEEDED, function (e) {
    window.ttMETA= typeof(window.ttMETA)!="undefined" ? window.ttMETA : [];
    var tokens=e.detail.responseTokens;
    if (isEmpty(tokens)) {
      return;
    }
    var uniqueTokens = distinct(tokens);
    uniqueTokens.forEach(function(token) {
      window.ttMETA.push({
        'CampaignName': token["activity.name"],
        'CampaignId' : token["activity.id"],
        'RecipeName': token["experience.name"],
        'RecipeId': token["experience.id"],
        'OfferId': token["option.id"],
        'OfferName': token["option.name"],
        'MboxName': e.detail.mbox});
      console.log(ttMETA);
    });
  });
  function isEmpty(val){
    return (val === undefined || val == null || val.length <= 0) ? true : false;
  }
  function key(obj) {
     return Object.keys(obj)
    .map(function(k) { return k + "" + obj[k]; })
    .join("");
  }
  function distinct(arr) {
    var result = arr.reduce(function(acc, e) {
      acc[key(e)] = e;
      return acc;
    }, {});
    return Object.keys(result)
    .map(function(k) { return result[k]; });
  }
</script>
